body {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    background-color: #007bff;
    border-radius: 30px;
    padding: 0.5em 1.5em;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

input[type=radio] {
    margin-right: 5px;
}

label, input[type=file] {
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=file], input[type=button], input[type=submit] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

input[type=button], input[type=submit] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease;
}

button input[type=button]:hover, input[type=submit]:hover {
    background-color: #0056b3;
}

