<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.akagawatsurunaki.novappro.mapper.ApprovalAuthorityMapper">

    <insert id="insert">
        INSERT INTO web_dev.approval_authority (user_id, appro_weight, course_code)
        VALUES (#{userId}, #{approWeight}, #{courseCode});
    </insert>
    <delete id="delete">
        DELETE
        FROM web_dev.approval_authority
        WHERE user_id = #{userId}
          AND course_code = #{courseCode};
    </delete>

    <select id="selectByUserId"
            resultType="com.github.akagawatsurunaki.novappro.model.database.ApprovalAuthority">
        SELECT *
        FROM web_dev.approval_authority
        WHERE approval_authority.user_id = #{userId};
    </select>
    <select id="selectUserIdsByCourseCode" resultType="java.lang.Integer">
        SELECT user_id
        FROM web_dev.approval_authority
        WHERE course_code = #{courseCode};
    </select>
    <select id="selectUserIdsByCourseCodeDesc" resultType="java.lang.Integer">
        SELECT user_id
        FROM web_dev.approval_authority
        WHERE course_code = #{courseCode}
        ORDER BY appro_weight DESC;
    </select>
    <select id="selectAll" resultType="com.github.akagawatsurunaki.novappro.model.database.ApprovalAuthority">
        SELECT *
        FROM web_dev.approval_authority;
    </select>
    <select id="selectByUserIdAndCourseCode"
            resultType="com.github.akagawatsurunaki.novappro.model.database.ApprovalAuthority">
        SELECT *
        FROM web_dev.approval_authority
        WHERE approval_authority.user_id = #{userId}
          AND approval_authority.course_code = #{courseCode};
    </select>

</mapper>