<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.akagawatsurunaki.novappro.mapper.UserMapper">

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="com.github.akagawatsurunaki.novappro.model.database.User">
        INSERT INTO `web_dev`.`user` (`username`, `raw_password`, `type`)
        VALUES (#{username}, #{rawPassword}, #{type});
    </insert>

    <select id="selectById" resultType="com.github.akagawatsurunaki.novappro.model.database.User">
        select *
        from user
        where user.id = #{id}
    </select>

    <select id="selectAllUsers" resultType="com.github.akagawatsurunaki.novappro.model.database.User">
        select *
        from user
    </select>
    <select id="selectByIds" resultType="com.github.akagawatsurunaki.novappro.model.database.User">
        SELECT *
        FROM `user`
        WHERE `user`.`id` IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>